.filter {
    width: 200px;
    border-right: 2px solid #D97852;

    h3 {
        margin-bottom: 16px;
        font-size: 20px;
    }

    h4 {
        margin-bottom: 10px;
    }

    ul {
        margin-bottom: 12px;
        list-style: none;

        li {

            a {
                text-decoration: none;
                color: #D97852;
            }
        }
    }
}

.posters {
    width: 100%;
}