.headerLayoutContainer {
    margin: 0 40px;
    border-bottom: 2px solid #D97852;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Titillium Web';

    .logo {
        font-size: 32px;

        h1 {
            color: #D97852;
        }
    }

    .linksAndCart {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        gap: 10px;

        img {
            height: 24px;
            cursor: pointer;
        }

        ul {
            display: flex;
            list-style: none;
            font-size: 18px;
            gap: 10px;

            a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;
            }
        }
    }
}