.headerLayoutContainer {
    margin: 0 40px;
    border-bottom: 3px solid #D97852;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Titillium Web';

    .logo {
        font-size: 32px;

        h1 {
            font-weight: 800;

            a {
                text-decoration: none;
                color: #D97852;
            }
        }
    }

    .linksAndCart {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        gap: 10px;

        .cart {
            position: relative;
            display: flex;

            img {
                height: 24px;
                cursor: pointer;
            }

            .cartItems {
                position: absolute;
                background-color: white;
                width: 350px;
                top: 40px;
                right: 00;
                translate: 0% 0%;
                display: none;
                // display: flex;
                flex-direction: column;
                padding: 8px;
                gap: 8px;

                div {
                    display: flex;
                    // padding: 20px;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 40px;
                        height: 50px;
                    }
                }
            }
        }

        // .cart:hover div {
        //     display: flex;
        // }



        ul {
            display: flex;
            list-style: none;
            font-size: 18px;
            gap: 10px;

            a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;
            }
        }
    }
}