.poster {
    width: 100%;
    display: flex;
    gap: 20px;

    img {
        width: 190px
    }

    .posterDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        .cartAndStock {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            div {
                display: flex;
                gap: 20px;

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                .addAmount {
                    border: 2px solid gray;
                    width: auto;
                    padding: 8px 16px;
                    outline: none;
                    width: 40px;
                    text-align: center;
                    font-size: 16px;
                }

                .addToCart {
                    border: 2px solid gray;
                    width: fit-content;
                    padding: 8px 16px;
                    border-radius: 6px;
                    cursor: pointer;
                    background-color: #D9785277;
                    font-size: 16px;
                }
            }
        }


    }
}