.posters {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        img {
            width: 100%;
            height: 100%;
        }

        h3 a {
            font-size: 16px;
            text-decoration: none;
        }

        p {
            font-size: 14px;
        }

        input {
            border: 2px solid gray;
            width: 50%;
            padding: 8px 16px;
            border-radius: 6px;
            cursor: pointer;
            background-color: #D9785277;
        }
    }
}