.homePageContainer {
    margin: 20px 40px;
    font-family: 'Open Sans';

    .curtains {
        width: 100%;
        border-radius: 8px;
    }

    h2 {
        color: #D97852;
        font-size: 28px;
        font-family: 'Titillium Web';
    }
}